<?php
/** @var \Magento\Framework\View\Element\Template $block */
/** @var \Scalapay\Scalapay\Ui\ViewModel\ScalapayWidgetConfig $configViewModel */
/** @var \Scalapay\Scalapay\Ui\ViewModel\Interfaces\DataViewModelInterface $dataViewModel */

$configViewModel = $block->getConfigViewModel();
$dataViewModel = $block->getDataViewModel();
$merchantToken = $configViewModel->getMerchantToken();
$isCheckoutSection = $configViewModel->getSectionType() === 'checkout';
$isTestMode = $configViewModel->getMode() === 'test';
$amountSeparator = $configViewModel->getAmountSeparator();
$scriptConfigurations = json_encode([
    'productWidgetId' => '#scalapay-widget',
    'amountSelectors' => $configViewModel->getAmountSelectors(),
    'textPosition' => $configViewModel->getTextPosition(),
    'sectionType' => $configViewModel->getSectionType()
]);
$show = !$configViewModel->isHidden() && $configViewModel->canDisplay(
    $dataViewModel->getProductsIds(),
    $dataViewModel->getCountry()
);
?>

<?php if ($show): ?>
    <div id="scalapay-widget"
        style="margin: 5px 0 5px 0; visibility: hidden;
        <?php if ($isCheckoutSection): ?>display: inline-block;<?php endif; ?>"
    >
        <scalapay-widget
            amount="<?= /* @noEscape */ $dataViewModel->getPrice(); ?>"
            min-amount="<?= /* @noEscape */ $configViewModel->getMinAmount(); ?>"
            max-amount="<?= /* @noEscape */ $configViewModel->getMaxAmount(); ?>"
            amount-selectors='<?= /* @noEscape */ $configViewModel->getAmountSelectors() ?>'
            locale="<?= /* @noEscape */ $configViewModel->getCurrentLanguage(); ?>"
            type="<?= /* @noEscape */ $configViewModel->getSectionType(); ?>"
            merchant-token="<?= /* @noEscape */ $merchantToken; ?>"
            currency-position="<?= /* @noEscape */ $configViewModel->getCurrencyPosition(); ?>"
            currency-display="<?= /* @noEscape */ $configViewModel->getCurrencyDisplay(); ?>"
            <?php if ($amountSeparator !== 'auto'): ?>
                amount-separator="<?= /* @noEscape */ $amountSeparator; ?>"
            <?php endif; ?>
            <?php if ($isTestMode): ?>
                environment="integration"
            <?php endif; ?>
        ></scalapay-widget>
    </div>

    <?php
    if ($configViewModel->magentoVersionIsLowerThan240()) {
        echo '<script type="application/json" id="scalapayWidgetConfigurations">';
        echo $scriptConfigurations;
        echo '</script>';
    } else {
        /** @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer */
        echo $secureRenderer->renderTag(
            'script',
            ['type' => 'application/json', 'id' => 'scalapayWidgetConfigurations'],
            $scriptConfigurations,
            false
        );
    }
    ?>
<?php endif; ?>
