/**
    ~ Scalapay_Scalapay
    ~ Copyright © All rights reserved.
**/
.scalapay-checkout-widget-logo {
    background-image: url("../../images/scalapay-logo-black.png");
    background-size: 105px 31px;
    vertical-align: middle;
    display: inline-block;
    height: 31px;
    width: 105px;
}
